.container {  /* Margin/padding copied from Bootstrap */
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

    /* Set width to your desired site width */
    width: 1170px;
}

.panel label{
    font-weight: normal;
}

.ui-dialog .container{
    min-width: 1170px;
    width: 100%;
}

ul.horizontal-list{
    list-style: none;
}
ul.horizontal-list li{
    float: left;
}